<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="uk-card uk-card-default uk-width-1-2@m">
        <div class="uk-card-header">
          <div class="uk-grid-small uk-flex-middle" uk-grid>
            <div class="uk-width-auto">
              <img class="uk-border-circle" width="40" height="40" [src]="user.image">
            </div>
            <div class="uk-width-expand">
              <h3 class="uk-card-title uk-margin-remove-bottom">{{user.name}}</h3>
              <p class="uk-text-meta uk-margin-remove-top">{{user.email}}</p>
            </div>
          </div>
        </div>
        <div class="uk-card-body">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
          <div *ngIf='user.provider == "password"' class="card-body">
            <form [formGroup]="profileForm">
              <div class="form-group">
                <label>Your name</label>
                <input type="text" formControlName="name" class="form-control uk-input" required>
              </div>
            </form>
            <button type="button" (click)="save(profileForm.value)" class="uk-button-primary">Save</button>
          </div>
        </div>
        <div class="uk-card-footer">
          <button type="button" (click)="logout()" class="uk-button">Logout</button>
        </div>
      </div>
    </div>
  </div>
</div>
