<div class="container">
  <div class="row">
    <div class="col">
      <button type="button" routerLink="/newGame" routerLinkActive="active" class="uk-button uk-button-default uk-width-1-1">Start
        new game</button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button type="button" routerLink="/stats" class="uk-button uk-button-default uk-width-1-1">View game stats</button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button type="button" routerLink="/settings" class="uk-button uk-button-default uk-width-1-1">Settings</button>
    </div>
  </div>
</div>
