<div class="container">
  <div class="row">
    <div class="col">
      <button type="button" routerLink="/newGame" routerLinkActive="active" class="uk-button uk-button-default">Start new game</button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button type="button" routerLink="/stats" class="uk-button uk-button-default">View game stats</button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button type="button" routerLink="/settings" class="uk-button uk-button-default">Settings</button>
    </div>
  </div>
</div>
