<div class="container">
  <div class="row">
    <div class="col">
      <button type="button" routerLink="/newGame" routerLinkActive="active" class="btn btn-primary btn-lg btn-block">Start new game</button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button type="button" routerLink="/stats" class="btn btn-primary btn-lg btn-block">View game stats</button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button type="button" routerLink="/settings" class="btn btn-primary btn-lg btn-block">Settings</button>
    </div>
  </div>
</div>
