<nav class="uk-navbar-container uk-margin" uk-navbar>
  <div class="uk-navbar-left">
    <a class="uk-navbar-toggle" uk-navbar-toggle-icon uk-toggle="target: #sidenav-slide"></a>
    <a class="uk-navbar-item uk-logo" routerLink="/menu" routerLinkActive="active">Backgammon Tavli</a>

    <ul class="uk-navbar-nav">
      <li>
        <a routerLink="/menu" routerLinkActive="active">
          <span class="uk-icon uk-margin-small-right" uk-icon="icon: star"></span>
          Backgammon Tavli
        </a>
      </li>
    </ul>

    <div class="uk-navbar-item">
      <div>

        <a (click)="openSettingsModal()">
          <span class="uk-icon uk-margin-small-right" uk-icon="icon: settings"></span>
        </a>
      </div>
    </div>

    <div class="uk-navbar-item">
      <form action="javascript:void(0)">
        <input class="uk-input uk-form-width-small" type="text" placeholder="Input">
        <button class="uk-button uk-button-default">Button</button>
      </form>
    </div>

  </div>
</nav>
<div id="sidenav-slide" uk-offcanvas="overlay: true">
  <div class="uk-offcanvas-bar">

    <button class="uk-offcanvas-close" type="button" uk-close></button>

    <h3>Title</h3>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

  </div>
</div>
<!--The content below is only a placeholder and can be replaced.-->

<router-outlet></router-outlet>
