<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Backgammon Tavli</a>
  <i class="oi oi-wrench" (click)="openSettingsModal(settingsModal)"></i>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNav()">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div [ngClass]="(navOpen==true)?'navbar-collapse':'collapse navbar-collapse'" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">

      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<!--The content below is only a placeholder and can be replaced.-->

<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="60%" height="50%" viewBox="0 0 705.712 604.896"
  id="svgContainer">
  <defs>
    <linearGradient id="checkerGradientW">
      <stop offset="0" stop-color="#b7b4a5" />
      <stop offset="1" stop-color="#dedcae" />
    </linearGradient>
    <linearGradient id="l">
      <stop offset="0" stop-color="#a18445" />
      <stop offset=".459" stop-color="#e4e0be" />
      <stop offset="1" stop-color="#89753e" />
    </linearGradient>
    <linearGradient id="h">
      <stop offset="0" stop-color="#a18445" />
      <stop offset=".5" stop-color="#e4e0be" />
      <stop offset="1" stop-color="#89753e" />
    </linearGradient>
    <linearGradient id="g">
      <stop offset="0" stop-color="#e0ddca" />
      <stop offset="1" stop-color="#fff" />
    </linearGradient>
    <linearGradient id="f">
      <stop offset="0" stop-color="#dedbc6" />
      <stop offset="1" stop-color="#fbf9f5" />
    </linearGradient>
    <linearGradient id="i">
      <stop offset="0" stop-color="#080808" />
      <stop offset="1" stop-color="#4d4d4d" />
    </linearGradient>
    <linearGradient id="checkerGradient">
      <stop offset="0" stop-color="#080808" />
      <stop offset="1" stop-color="#4a4a4a" />
    </linearGradient>
    <linearGradient id="selectedCheckerGradient">
      <stop offset="0" stop-color="rgb(153,218,255)" />
      <stop offset="1" stop-color="rgb(0,128,128)" />
    </linearGradient>
    <linearGradient id="a">
      <stop offset="0" stop-color="#906739" />
      <stop offset="1" stop-color="#6d4f2c" />
    </linearGradient>
    <linearGradient id="b">
      <stop offset="0" />
      <stop stop-color="#fff" offset="1" />
    </linearGradient>
    <linearGradient id="c">
      <stop offset="0" stop-color="#fff" />
      <stop offset=".22" stop-color="#fff" stop-opacity=".498" />
      <stop offset=".5" stop-color="#fff" stop-opacity="0" />
      <stop offset=".5" stop-color="#fff" stop-opacity="0" />
      <stop offset="1" stop-color="#fff" stop-opacity="0" />
    </linearGradient>
    <linearGradient id="d">
      <stop offset="0" stop-color="#fff" />
      <stop offset=".22" stop-color="#fff" stop-opacity=".498" />
      <stop offset=".5" stop-color="#fff" stop-opacity="0" />
      <stop offset=".5" stop-color="#fff" stop-opacity="0" />
      <stop offset="1" stop-color="#fff" stop-opacity="0" />
    </linearGradient>
    <linearGradient id="e">
      <stop offset="0" stop-color="#fff" />
      <stop offset=".22" stop-color="#fff" stop-opacity=".498" />
      <stop offset=".5" stop-color="#fff" stop-opacity="0" />
      <stop offset=".5" stop-color="#fff" stop-opacity="0" />
      <stop offset="1" stop-color="#fff" stop-opacity="0" />
    </linearGradient>
    <linearGradient xlink:href="#a" id="m" gradientUnits="userSpaceOnUse" gradientTransform="translate(-1 -1)" x1="6.115" y1="2.579"
      x2="247.418" y2="219.892" />
    <linearGradient xlink:href="#i" id="n" gradientUnits="userSpaceOnUse" x1="152.058" y1="13.923" x2="170.524" y2="15.244" />
    <linearGradient xlink:href="#checkerGradient" id="o" gradientUnits="userSpaceOnUse" x1="171.193" y1="21.933" x2="149.5" y2="27.137"
    />
    <linearGradient xlink:href="#i" id="p" gradientUnits="userSpaceOnUse" x1="152.058" y1="13.923" x2="170.524" y2="15.244" />
    <linearGradient xlink:href="#checkerGradient" id="q" gradientUnits="userSpaceOnUse" x1="171.193" y1="21.933" x2="149.5" y2="27.137"
    />
    <linearGradient xlink:href="#i" id="r" gradientUnits="userSpaceOnUse" x1="152.058" y1="13.923" x2="170.524" y2="15.244" />
    <linearGradient xlink:href="#checkerGradient" id="s" gradientUnits="userSpaceOnUse" x1="171.193" y1="21.933" x2="149.5" y2="27.137"
    />
    <linearGradient xlink:href="#i" id="t" gradientUnits="userSpaceOnUse" x1="152.058" y1="13.923" x2="170.524" y2="15.244" />
    <linearGradient xlink:href="#checkerGradient" id="u" gradientUnits="userSpaceOnUse" x1="171.193" y1="21.933" x2="149.5" y2="27.137"
    />
    <linearGradient xlink:href="#i" id="v" gradientUnits="userSpaceOnUse" x1="152.058" y1="13.923" x2="170.524" y2="15.244" />
    <linearGradient xlink:href="#checkerGradient" id="w" gradientUnits="userSpaceOnUse" x1="171.193" y1="21.933" x2="149.5" y2="27.137"
    />
    <linearGradient xlink:href="#i" id="x" gradientUnits="userSpaceOnUse" x1="152.058" y1="13.923" x2="170.524" y2="15.244" />
    <linearGradient xlink:href="#checkerGradient" id="y" gradientUnits="userSpaceOnUse" x1="171.193" y1="21.933" x2="149.5" y2="27.137"
    />
    <linearGradient xlink:href="#i" id="z" gradientUnits="userSpaceOnUse" x1="152.058" y1="13.923" x2="170.524" y2="15.244" />
    <linearGradient xlink:href="#checkerGradient" id="A" gradientUnits="userSpaceOnUse" x1="171.193" y1="21.933" x2="149.5" y2="27.137"
    />
    <linearGradient xlink:href="#i" id="B" gradientUnits="userSpaceOnUse" x1="152.058" y1="13.923" x2="170.524" y2="15.244" />
    <linearGradient xlink:href="#checkerGradient" id="C" gradientUnits="userSpaceOnUse" x1="171.193" y1="21.933" x2="149.5" y2="27.137"
    />
    <linearGradient xlink:href="#i" id="D" gradientUnits="userSpaceOnUse" x1="152.058" y1="13.923" x2="170.524" y2="15.244" />
    <linearGradient xlink:href="#checkerGradient" id="E" gradientUnits="userSpaceOnUse" x1="171.193" y1="21.933" x2="149.5" y2="27.137"
    />
    <linearGradient xlink:href="#i" id="F" gradientUnits="userSpaceOnUse" x1="152.058" y1="13.923" x2="170.524" y2="15.244" />
    <linearGradient xlink:href="#checkerGradient" id="G" gradientUnits="userSpaceOnUse" x1="171.193" y1="21.933" x2="149.5" y2="27.137"
    />
    <linearGradient xlink:href="#i" id="H" gradientUnits="userSpaceOnUse" x1="152.058" y1="13.923" x2="170.524" y2="15.244" />
    <linearGradient xlink:href="#checkerGradient" id="I" gradientUnits="userSpaceOnUse" x1="171.193" y1="21.933" x2="149.5" y2="27.137"
    />
    <linearGradient xlink:href="#i" id="J" gradientUnits="userSpaceOnUse" x1="152.058" y1="13.923" x2="170.524" y2="15.244" />
    <linearGradient xlink:href="#checkerGradient" id="K" gradientUnits="userSpaceOnUse" x1="171.193" y1="21.933" x2="149.5" y2="27.137"
    />
    <linearGradient xlink:href="#i" id="L" gradientUnits="userSpaceOnUse" x1="152.058" y1="13.923" x2="170.524" y2="15.244" />
    <linearGradient xlink:href="#checkerGradient" id="M" gradientUnits="userSpaceOnUse" x1="171.193" y1="21.933" x2="149.5" y2="27.137"
    />
    <linearGradient xlink:href="#i" id="N" gradientUnits="userSpaceOnUse" x1="152.058" y1="13.923" x2="170.524" y2="15.244" />
    <linearGradient xlink:href="#checkerGradient" id="O" gradientUnits="userSpaceOnUse" x1="171.193" y1="21.933" x2="149.5" y2="27.137"
    />
    <linearGradient xlink:href="#i" id="P" gradientUnits="userSpaceOnUse" x1="152.058" y1="13.923" x2="170.524" y2="15.244" />
    <linearGradient xlink:href="#checkerGradient" id="checkerGradientBorderBlack" gradientUnits="userSpaceOnUse" x1="171.193"
      y1="21.933" x2="149.5" y2="27.137" />
    <linearGradient xlink:href="#f" id="R" gradientUnits="userSpaceOnUse" x1="160" y1="20" x2="167.669" y2="26.418" />
    <linearGradient xlink:href="#checkerGradientW" id="checkerGradientBorderWhite" gradientUnits="userSpaceOnUse" x1="170.892"
      y1="16.689" x2="149.5" y2="17.576" />
    <linearGradient xlink:href="#selectedCheckerGradient" id="checkerGradientBorderSelected" gradientUnits="userSpaceOnUse" x1="170.892"
      y1="16.689" x2="149.5" y2="17.576" />

    <linearGradient xlink:href="#f" id="T" gradientUnits="userSpaceOnUse" x1="160" y1="20" x2="167.669" y2="26.418" />
    <linearGradient xlink:href="#checkerGradientW" id="U" gradientUnits="userSpaceOnUse" x1="170.892" y1="16.689" x2="149.5"
      y2="17.576" />
    <linearGradient xlink:href="#f" id="V" gradientUnits="userSpaceOnUse" x1="160" y1="20" x2="167.669" y2="26.418" />
    <linearGradient xlink:href="#checkerGradientW" id="W" gradientUnits="userSpaceOnUse" x1="170.892" y1="16.689" x2="149.5"
      y2="17.576" />
    <linearGradient xlink:href="#f" id="X" gradientUnits="userSpaceOnUse" x1="160" y1="20" x2="167.669" y2="26.418" />
    <linearGradient xlink:href="#checkerGradientW" id="Y" gradientUnits="userSpaceOnUse" x1="170.892" y1="16.689" x2="149.5"
      y2="17.576" />
    <linearGradient xlink:href="#f" id="Z" gradientUnits="userSpaceOnUse" x1="160" y1="20" x2="167.669" y2="26.418" />
    <linearGradient xlink:href="#checkerGradientW" id="aa" gradientUnits="userSpaceOnUse" x1="170.892" y1="16.689" x2="149.5"
      y2="17.576" />
    <linearGradient xlink:href="#f" id="ab" gradientUnits="userSpaceOnUse" x1="160" y1="20" x2="167.669" y2="26.418" />
    <linearGradient xlink:href="#checkerGradientW" id="ac" gradientUnits="userSpaceOnUse" x1="170.892" y1="16.689" x2="149.5"
      y2="17.576" />
    <linearGradient xlink:href="#f" id="ad" gradientUnits="userSpaceOnUse" x1="160" y1="20" x2="167.669" y2="26.418" />
    <linearGradient xlink:href="#checkerGradientW" id="ae" gradientUnits="userSpaceOnUse" x1="170.892" y1="16.689" x2="149.5"
      y2="17.576" />
    <linearGradient xlink:href="#f" id="af" gradientUnits="userSpaceOnUse" x1="160" y1="20" x2="167.669" y2="26.418" />
    <linearGradient xlink:href="#checkerGradientW" id="ag" gradientUnits="userSpaceOnUse" x1="170.892" y1="16.689" x2="149.5"
      y2="17.576" />
    <linearGradient xlink:href="#f" id="ah" gradientUnits="userSpaceOnUse" x1="160" y1="20" x2="167.669" y2="26.418" />
    <linearGradient xlink:href="#checkerGradientW" id="ai" gradientUnits="userSpaceOnUse" x1="170.892" y1="16.689" x2="149.5"
      y2="17.576" />
    <linearGradient xlink:href="#f" id="aj" gradientUnits="userSpaceOnUse" x1="160" y1="20" x2="167.669" y2="26.418" />
    <linearGradient xlink:href="#checkerGradientW" id="ak" gradientUnits="userSpaceOnUse" x1="170.892" y1="16.689" x2="149.5"
      y2="17.576" />
    <linearGradient xlink:href="#f" id="al" gradientUnits="userSpaceOnUse" x1="160" y1="20" x2="167.669" y2="26.418" />
    <linearGradient xlink:href="#checkerGradientW" id="am" gradientUnits="userSpaceOnUse" x1="170.892" y1="16.689" x2="149.5"
      y2="17.576" />
    <linearGradient xlink:href="#f" id="an" gradientUnits="userSpaceOnUse" x1="160" y1="20" x2="167.669" y2="26.418" />
    <linearGradient xlink:href="#checkerGradientW" id="ao" gradientUnits="userSpaceOnUse" x1="170.892" y1="16.689" x2="149.5"
      y2="17.576" />
    <linearGradient xlink:href="#f" id="ap" gradientUnits="userSpaceOnUse" x1="160" y1="20" x2="167.669" y2="26.418" />
    <linearGradient xlink:href="#checkerGradientW" id="aq" gradientUnits="userSpaceOnUse" x1="170.892" y1="16.689" x2="149.5"
      y2="17.576" />
    <linearGradient xlink:href="#f" id="ar" gradientUnits="userSpaceOnUse" x1="160" y1="20" x2="167.669" y2="26.418" />
    <linearGradient xlink:href="#checkerGradientW" id="as" gradientUnits="userSpaceOnUse" x1="170.892" y1="16.689" x2="149.5"
      y2="17.576" />
    <linearGradient xlink:href="#f" id="at" gradientUnits="userSpaceOnUse" x1="160" y1="20" x2="167.669" y2="26.418" />
    <linearGradient xlink:href="#checkerGradientW" id="au" gradientUnits="userSpaceOnUse" x1="170.892" y1="16.689" x2="149.5"
      y2="17.576" />
    <linearGradient xlink:href="#h" id="av" gradientUnits="userSpaceOnUse" gradientTransform="translate(-6.677 1.816)" x1="382.196"
      y1="158.472" x2="384.652" y2="158.496" />
    <linearGradient xlink:href="#l" id="aw" gradientUnits="userSpaceOnUse" gradientTransform="translate(-6.677 1.816)" x1="382.196"
      y1="158.472" x2="384.652" y2="158.496" />
  </defs>
  <g transform="scale(2.5204)" id="board" *ngIf="board">
    <path color="#000" fill="#164623" overflow="visible" d="M10 10h260v220H10z" />
    <path d="M0 0v240h280V0H0zm10 10h120v220H10V10zm140 0h120v220H150V10z" color="#000" fill="url(#m)" overflow="visible" />
    <g fill="none" id="divider">
      <path d="M139.5 4.871v228.133" stroke="#774b1f" />
      <path d="M140.5 4.871v228.133" stroke="#b1875a" />
    </g>
    <g *ngIf="currentTurn">
      <svg:g dice-component [value]="currentTurn.roll1" [x]="'65.427'" [y]="'113.008'" [color]="'#000'" *ngIf="currentTurn.roll1 && currentTurn.player.color==0 && roll1StillOpen"
        id="dice1"></svg:g>
      <svg:g dice-component [value]="currentTurn.roll2" [x]="'85.427'" [y]="'123.008'" [color]="'#000'" *ngIf="currentTurn.roll2 && currentTurn.player.color==0 && roll2StillOpen"
        id="dice2"></svg:g>

      <svg:g dice-component [value]="currentTurn.roll1" [x]="'205.427'" [y]="'113.008'" [color]="'#ee0701'" *ngIf="currentTurn.roll1 && currentTurn.player.color==1 && roll1StillOpen"
        id="dice3"></svg:g>
      <svg:g dice-component [value]="currentTurn.roll2" [x]="'225.427'" [y]="'123.008'" [color]="'#ee0701'" *ngIf="currentTurn.roll2 && currentTurn.player.color==1 && roll2StillOpen"
        id="dice4">
      </svg:g>
    </g>

    <g color="#000" id="scharnierTop">
      <path fill="#5d3d21" overflow="visible" d="M137.546 15.287h5.107v11.13h-5.107z" />
      <path fill="url(#av)" overflow="visible" d="M375.52 154.28h2.455v7.77h-2.455z" transform="translate(-399.621 -205.732) scale(1.43258)"
      />
    </g>
    <g fill="none" stroke-width=".5" id="scharnierDivider">
      <path d="M138.34 21.23l3.518-.02" stroke="#774b1f" stroke-width=".71629" />
      <path d="M138.34 20.493l3.518-.02" stroke="#b1875a" stroke-width=".71629" />
    </g>
    <g id="scharnierBottom">
      <g color="#000">
        <path fill="#5d3d21" overflow="visible" d="M137.546 213.584h5.107v11.131h-5.107z" />
        <path fill="url(#aw)" overflow="visible" d="M375.52 154.28h2.455v7.77h-2.455z" transform="translate(-399.621 -7.435) scale(1.43258)"
        />
      </g>
      <g fill="none" stroke-width=".5">
        <path d="M138.34 219.527l3.518-.02" stroke="#774b1f" stroke-width=".71629" />
        <path d="M138.34 218.79l3.518-.02" stroke="#b1875a" stroke-width=".71629" />
      </g>
    </g>

    <g transform="rotate(14.584 141.599 -45.82)" id="doublerDice" (click)="doublerCubeClick()" *ngIf="doublerCubeEnabled">
      <rect transform="rotate(-.2)" ry="1.714" rx="1.714" y="115.591" x="177.252" height="13.87" width="13.87" color="#000" fill="#ee0701"
        stroke="#000" stroke-width=".606" overflow="visible" />
      <text transform="rotate(1 0 0)" x="186.5" y="122.5" stroke="#000" fill="#ffffff" font-family="Sans-serif" style="font-size:10px;cursor:default;"
        text-anchor="middle" stroke-width="0">
        {{doublerCube}}
      </text>

    </g>

    <g stroke="#000" stroke-width=".228" id="topLeft">
      <path d="M31.537 10.12l9.626 96.26 9.626-96.26H31.537zM70.041 10.12l9.626 96.26 9.626-96.26H70.041zM108.545 10.12l9.626 96.26 9.626-96.26h-19.252z"
        fill="#dedcae" stroke-width=".24115788" />
      <path d="M12.285 10.12l9.626 96.26 9.626-96.26H12.285zM50.79 10.12l9.625 96.26 9.626-96.26H50.789zM89.293 10.12l9.626 96.26 9.626-96.26H89.293z"
        fill="#da251d" stroke-width=".24115788" />
    </g>
    <g stroke="#000" stroke-width=".228" id="bottomLeft">
      <path d="M108.545 229.88l-9.626-96.26-9.626 96.26h19.252zM70.041 229.88l-9.626-96.26-9.626 96.26h19.252zM31.537 229.88l-9.626-96.26-9.626 96.26h19.252z"
        fill="#dedcae" stroke-width=".24115788" />
      <path d="M127.797 229.88l-9.626-96.26-9.626 96.26h19.252zM89.293 229.88l-9.626-96.26-9.626 96.26h19.252zM50.79 229.88l-9.627-96.26-9.626 96.26H50.79z"
        fill="#da251d" stroke-width=".24115788" />
    </g>
    <g stroke="#000" stroke-width=".228" id="topRight">
      <path d="M171.537 10.12l9.626 96.26 9.626-96.26h-19.252zM210.041 10.12l9.626 96.26 9.626-96.26h-19.252zM248.545 10.12l9.626 96.26 9.626-96.26h-19.252z"
        fill="#dedcae" stroke-width=".24115788" />
      <path d="M152.285 10.12l9.626 96.26 9.626-96.26h-19.252zM190.79 10.12l9.625 96.26 9.626-96.26h-19.252zM229.293 10.12l9.626 96.26 9.626-96.26h-19.252z"
        fill="#da251d" stroke-width=".24115788" />
    </g>
    <g stroke="#000" stroke-width=".228" id="bottomRight">
      <path d="M171.537 229.88l-9.626-96.26-9.626 96.26h19.252z" fill="#dedcae" stroke-width=".24115788" id="bottomRight1"></path>
      <path d="M190.79 229.88l-9.627-96.26-9.626 96.26h19.252z" fill="#da251d" stroke-width=".24115788" id="bottomRight2"></path>
      <path d="M210.041 229.88l-9.626-96.26-9.626 96.26h19.252z" fill="#dedcae" stroke-width=".24115788" id="bottomRight3"></path>
      <path d="M229.293 229.88l-9.626-96.26-9.626 96.26h19.252z" fill="#da251d" stroke-width=".24115788" id="bottomRight4"></path>
      <path d="M248.545 229.88l-9.626-96.26-9.626 96.26h19.252z" fill="#dedcae" stroke-width=".24115788" id="bottomRight5"></path>
      <path d="M267.797 229.88l-9.626-96.26-9.626 96.26h19.252z" fill="#da251d" stroke-width=".24115788" id="bottomRight6"></path>
    </g>

    <g *ngFor="let field of fields; index as idx">
      <rect height="100" width="19" [attr.x]="getXByField(field)+142" [attr.y]="getYOutsideByField(field)" fill="azure" (click)="selectTargetField(field)"
        [attr.fill-opacity]="getRectFill(field)" class="point"></rect>
    </g>
    <g *ngFor="let field of fields; index as idx">
      <circle *ngFor="let checker of field.checkers; index as idx" cx="160" cy="20" r="9.5" [attr.transform]="getTransform(field, checker, idx)"
        [attr.fill]="getFill(checker)" [attr.stroke]="getBorder(checker)" (click)="selectChecker(checker, field, idx)" [attr.id]="checker.id"
        class="draggable"></circle>
    </g>
    <g>
      <circle *ngFor="let checker of barCheckers; index as idx" cx="160" cy="20" r="9.5" [attr.transform]="getTransform(bar, checker, idx)"
        [attr.fill]="getFill(checker)" [attr.stroke]="getBorder(checker)" (click)="selectChecker(checker, bar, idx)" [attr.id]="checker.id"></circle>
    </g>

    <g>
      <rect height="250" width="19" [attr.x]="getXByField(off)+142" [attr.y]="getYOutsideByField(off)-140" fill="azure" [attr.fill-opacity]="getRectFill(off)"
        (click)="selectTargetField(off)"></rect>
    </g>
    <g>
      <circle *ngFor="let checker of offWhite; index as idx" cx="160" cy="20" r="9.5" [attr.transform]="getTransform(off, checker, idx)"
        [attr.fill]="getFill(checker)" [attr.stroke]="getBorder(checker)" [attr.id]="checker.id"></circle>
    </g>
    <g>
      <circle *ngFor="let checker of offBlack; index as idx" cx="160" cy="20" r="9.5" [attr.transform]="getTransform(off, checker, idx)"
        [attr.fill]="getFill(checker)" [attr.stroke]="getBorder(checker)" [attr.id]="checker.id"></circle>
    </g>

  </g>
</svg>
<div class="info-box" *ngIf="currentTurn">
  <div>Current Player: {{ currentTurn.player.colorString }} ({{currentTurn.player.name}})</div>
  <div>Open rolls:
    <span *ngFor="let roll of openRolls">{{ roll }}</span>
  </div>
  <div>White checkers on bar: {{ barCheckersWhite }}</div>
  <div>Black checkers on bar: {{ barCheckersBlack }}</div>
  <div>White checkers in off: {{ offCheckersWhite }}</div>
  <div>Black checkers in off: {{ offCheckersBlack }}</div>

  <div>White pip count: {{ pipCountWhite }}</div>
  <div>Black pip count: {{ pipCountBlack }}</div>

  <gameresult [result]="game.getResult()"></gameresult>
</div>
<div>
  <button type="button" (click)="rollDiceClick()" *ngIf="rollDiceButtonEnabled" class="btn btn-primary">Roll</button>
  <button type="button" (click)="finishTurnClick()" *ngIf="finishTurnButtonEnabled" class="btn btn-success">Finish</button>
  <button type="button" (click)="revertMoveClick()" *ngIf="revertMoveButtonEnabled" class="btn btn-warning">Revert</button>
  <div *ngIf="autoFinishTick!=0">Auto finish in {{autoFinishTick}}
    <button type="button" (click)="cancelAutoFinishClick()" class="btn btn-secondary">Cancel</button>
  </div>
  <div *ngIf="autoRollTick!=0">Auto roll in {{autoRollTick}}
    <button type="button" (click)="cancelAutoRollClick()" class="btn btn-secondary">Cancel</button>
  </div>
</div>

<game-history-component [history]="history"></game-history-component>



<div class="input-group">
  <select class="custom-select" (change)="selectedModeChanged($event.target.value)">
    <option *ngFor="let m of modes " [value]="m.value ">{{m.name}}</option>
  </select>
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" type="button" (click)="restartGame(mode)">(re)start game</button>
  </div>
</div>




<!--Settings Modal-->
<ng-template #settingsModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Settings</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="dateOfBirth">Date of birth</label>
        <div class="input-group">
          <input id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #dp="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" (click)="dp.toggle()" type="button">
              <i class="oi oi-calendar"></i>
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Save</button>
  </div>
</ng-template>
