<nav class="uk-navbar-container uk-margin" uk-navbar>
  <div class="uk-navbar-left">
    <a class="uk-navbar-toggle" uk-navbar-toggle-icon uk-toggle="target: #sidenav-slide"></a>
    <a class="uk-navbar-item uk-logo" routerLink="/menu" routerLinkActive="active">Backgammon Tavli</a>

    <ul class="uk-navbar-nav">
      <li>
        <a routerLink="/user" routerLinkActive="active">
          <span class="uk-icon uk-margin-small-right" uk-icon="icon: user"></span>
          User
        </a>
      </li>
    </ul>

    <div class="uk-navbar-item">
      <div>

        <a href="#settings-modal" uk-toggle>
          <span class="uk-icon uk-margin-small-right" uk-icon="icon: settings"></span>
        </a>
        <settings-modal></settings-modal>
      </div>
    </div>

    <div class="uk-navbar-item">
      <form action="javascript:void(0)">
        <input class="uk-input uk-form-width-small" type="text" placeholder="Input" [(ngModel)]="inputValue" name="inputValue">
        <button class="uk-button uk-button-default" (click)="inputButtonClick(inputValue)">Button</button>
      </form>
    </div>

  </div>
</nav>
<div id="sidenav-slide" uk-offcanvas="overlay: true">
  <div class="uk-offcanvas-bar">

    <button class="uk-offcanvas-close" type="button" uk-close></button>

    <h3>Menu</h3>

    <main-menu></main-menu>
  </div>
</div>
<!--The content below is only a placeholder and can be replaced.-->

<router-outlet></router-outlet>
